@model ControleContas.Models.Usuario



<h2>Bem-vindo</h2>
<p>Você está autenticado!</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">IR PARA A HOME</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">SAIR</a>
