@model ControleContas.Models.Usuario

@{
    ViewData["Title"] = "Logout";
}
<h2>Você está deslogado</h2>

<h5>Faça o Login Novamente</h5>
<li class="nav-item">

   
    <div>
        <h1> Deseja Realmente Sair ?</h1>

        <form asp-action="Logout" asp-controller="Auth" method="post">
            <button type="submit">SIM</button>
        </form>
        <button type="button" class="nav-link text-dark" onclick="location.href='@Url.Action("Index", "Home")'">NÃO</button>

    </div>

   
</li>


